

<div class="card centralized">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="card-content no-padding">
            <div class="row no-margin-vert">
                <div class="row"></div>
                <p class="flow-text sub-welcome-text">Hello, @User.Identity.Name</p>
                <div class="row"></div>
            </div>           
            <div class="row">
                <div class="collection no-margin-vert">
                    @if (User.IsInRole("admin"))
                    {
                        @Html.RouteLink("Admin panel", new { area = "Admin", controller = "Admin", action = "Index" }, new { @class = "collection-item" })
                    }
                    @Html.RouteLink("LogOut", new {controller = "Account", action = "Logout"}, new {@class = "collection-item"})
                </div>
            </div>
        </div> 
    }
    else
    {
        <div class="card-content no-padding">
            <div class="row no-margin-bot">
                <div class="col s6 no-padding-hor">
                    <div class="collection no-margin-vert">
                        @Html.RouteLink("LogIn", new { controller = "Account", action = "Login" }, new { @class = "collection-item" })
                    </div>
                </div>
                <div class="col s6 no-padding-hor">
                    <div class="collection no-margin-vert">
                        @Html.RouteLink("Register", new { controller = "Account", action = "Register" }, new { @class = "collection-item" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>