@model IEnumerable<EPAM_MVC_2.Models.Review> 

@{
    ViewBag.Title = "Guest";
}

<div class="row no-margin-bot">
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Reviews</p>
            <p class="flow-text sub-welcome-text centralized">You can live your own one using the form below</p>
            <hr class="colored-hr" />

            @using (Ajax.BeginForm("Guest", "Home", new AjaxOptions { UpdateTargetId = "review_target" }))
            {
                <div class="row">
                    <div class="input-field col s10 push-s1">
                        @Html.LabelFor(model => model.FirstOrDefault().AuthorName, "Your name")
                        @Html.EditorFor(model => model.FirstOrDefault().AuthorName, new { htmlAttributes = new { @required = "required" } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().AuthorName, "", new { @class = "text-danger" })
                    </div>                   
                    <div class="input-field col s10 push-s1">
                        @Html.LabelFor(model => model.FirstOrDefault().Text, "Review:")
                        @Html.TextAreaFor(model => model.FirstOrDefault().Text, new { @class = "materialize-textarea", @required = "required" })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Text, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s10 push-s1">
                        <input type="submit" value="Send" class="btn btn-default" />
                    </div>
                </div>
            }
            <hr class="colored-hr" />
            <div id="review_target" class="row">
                @if (Model.Count() == 0)
                {
                    <p class="flow-text centralized welcome-text">Be the first one who leave a review!</p>
                }
                else
                {
                    @Html.Partial("Partials/_ReviewList", Model)
                }
            </div>
        </div>
    </div>
    <div class="col s3 push-s1">
        <div id="right-sidebar" class="card centralized">
            <div class="row"></div>
            <p class="card-title flow-text">Menu</p>
            <div class="collection with-header">
                @Html.ActionLink("Main", "Index", "Home", new { @class = "collection-item" })
                @Html.ActionLink("Guest", "Guest", "Home", new { @class = "collection-item active" })
                @Html.ActionLink("Quize", "Quize", "Home", new { @class = "collection-item" })
            </div>
        </div>
    </div>
</div>

